*{
	box-sizing:border-box;
}
body{
     background:#92bde7;
     color:#485e74;
     font-family:poppins;
	 text-align: center;
	 margin:0;
}
.header{
	padding:10px;
	text-align:center;
	background:#55acee;
	color:white;
}
.footer {
  padding: 2px; 
  text-align: center; 
  background: #ddd; 
}
.sec{
  padding: 22px;
  display: table;
  position: relative;
  margin: 1.3% auto;
  left:10px;
}
.navbar{
	overflow:hidden;
	background-color:#333;
}
.navbar a{
	float:left;
	display:block;
	color:white;
	text-align:center;
	padding:14px 20px;
	text-decoration:none;
}
.navbar a.right{
	float:right;
	background-color:red;
}
.navbar a:hover{
	background-color:#ddd;
	color:black;
}
.navbar input[type=text]{
	padding:6px;
	border:none;
	margin-top:8px;
	margin-left:800px;
	margin-right:16px;
	font-size:17px;
}
.shadow{
	text-shadow: 2px 2px 5px gray;
}
.wrapper{
	width: 900px;
	margin: 2% auto;
	
}
.single-price{
	width:33%;
	background: #262626;
	float: left;
	margin-top: 2%;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
	text-align: center;
	transition: 0.9s;
}
.price{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid #0760a8;
	margin: 5% auto 0 auto;
	text-align: center;
}
.deals{
	margin-top: 10%;
}
.single-price h1{
	font-size: 18px;
	color: #fff;
	line-height: 3;
	text-transform: uppercase;
}
.price h2{
	font-size: 38px;
	color:#fff;
}
.deals h4{
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	line-height: 1;
}
.single-price:hover{
	background: #0760a8;
	color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	transform: scale(1.1);
	z-index: 1;
	border-radius: 25px;
}
.single-price:hover .price{
	border-color: #fff;
}
.single-price a{
	text-decoration: none;
	background: #0760a8;
	color: #fff;
	padding: 10px 60px;
	display: inline-block;
	margin: 10% auto;
	text-transform: uppercase;
	font-weight: bold;
}
.single-price:hover a{
	background: #262626;
	color: #fff;
}
